*

!/backend/
!/backend/**
!/web/
!/web/**
!/.gitignore

node_modules/
**/node_modules/

.DS_Store
**/.DS_Store

.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example

web/.next/
web/out/
web/dist/
web/build/
web/.vercel/

backend/uploads/
backend/database/
backend/extensions/.sandbox/
